.header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu-icon svg {
    width: 22px;
    fill: white;
}

.logo {
    margin-left: 20px;
    width: 200px;
    margin-right: 50px;
    /*border: 1px solid red;*/
}

.header-menu {
    display: flex;
    font-family: Bebas Neue Regular, serif;
    font-size: 27px;
    font-weight: 100;
    align-items: center;
}

.navBarLink {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}


.header-icons {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    margin-right: 20px;
    right: 0;
    position: absolute;
}

.header-icons svg {
    width: 20px;
    margin-left: 20px;
    fill: white;
}

/* Hide menu-icon on screens larger than 600px */
@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }
}

/* Show menu-icon on screens smaller than 600px */
@media (max-width: 600px) {
    .menu-icon {
        display: flex;
    }
}


