.homePageContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.right {
    background-color: white;

    margin-top: 70px;
    position: fixed;
    width: 225px;
    height: 540px;
    left: calc(50% + 540px - 225px);

}

.middle {
    background-color: white;

    width: 540px;
    margin: 70px 100px 0 100px
}

.left {
    margin-top: 70px;
    position: fixed;
    height: 540px;
    width: 225px;
    left: calc(50% - 540px);
    background-color: white;

}

.topLeft {
    height: 50%;
    margin: 0 0 10px 0;
}

.botLeft {
    height: 50%;
}


.topMiddle {
    height: 116px;
    margin: 0 0 10px 0;
}


.topRight {
    height: 50%;
    margin: 0 0 10px 0;
}

.botRight {
    height: 50%;
}