@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --border-color: #ececeb;;
    --inactive-color: rgb(102, 102, 102);
    --body-font: "Poppins", sans-serif;
    --background-search-bg: rgb(238, 243, 248)
}


.navBar {
    position: fixed;
    height: 50px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.actualNav {
    width: 1080px;
    /*background-color: red;*/
    height: 50px;
}


.actualNav img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navStart {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 5px 0;

}


.navSearch input {
    height: 100%;
}

.search-bar {
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 5px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--background-search-bg);
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 40px;
    box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 52%;
    color: black;
}


.search-bar input::placeholder {
    font-family: var(--body-font);
    color: var(--inactive-color);
    font-size: 15px;
    font-weight: 500;
}

.search-bar input:focus {
    padding-left: 50px;
    font-size: 18px;
}


.actualNav .actualNavItems {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.navLinks {

    padding: 5px;
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navLinks div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    position: relative;
    top: -3px;
}

.navLinks div .navLinksImages {
    position: relative;
    top: 5px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(98%) contrast(85%);
}



.navLinks div:hover {
    cursor: pointer;
}

.navLinks div:hover a {
    color: black;
}

.navLinks div:hover .navLinksImages {
    filter: none;
}

.navLinks div a {
    text-decoration: none;
    color: var(--inactive-color);
    font-size: 13px;
}

.navProfile #navProfileDownArrow{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 24px;
    right: -12px;
}

#navLinkImageNoFilter{
    filter: none;
}