.navBar {
    position: fixed;
    height: 50px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ececeb;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.actualNav {
    width: 1080px;
    /*background-color: red;*/
    height: 50px;
    padding: 5px 0;
}

.actualNav .actualNavItems {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actualNav img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.navSearch input{
    height: 100%;
}

.navSearch input img{
    background-color: white;
    border: transparent;
}