@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePageInner {
  position: relative;
  margin: 2rem;
  padding: 2.5rem;
  font-family: "Spectral", serif;
  font-size: 1rem;
  border: 0.25rem solid black;
}
.homePageInner::-webkit-scrollbar {
  width: 0.5rem;
}
.homePageInner::-webkit-scrollbar-thumb {
  border: 0.25rem solid #000;
}

.flower {
  float: right;
  margin-right: -11rem;
  height: 33rem;
  shape-outside: url("https://raw.githubusercontent.com/melipi/img-repo/main/flower-silhouette.png");
  shape-margin: 2rem;
}

.flower:hover {
  content: url(../../assets/images/flower/blue_Flower.png);
}

.excerpt {
  margin: 0 auto;
  columns: 22rem auto;
  column-gap: 1.5rem;
  background: white;
}

.homePageInner h1,
.homePageInner h2,
.homePageInner h3 {
  font-weight: 400;
  text-align: center;
  color: var(--main-blue)
}

.title__first {
  margin: 3rem 0 -2.5rem 0;
  padding-left: 2rem;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: italic;
  text-align: left;
    color: var(--main-blue)
}

.title__second {
  font-size: 5rem;
  text-align: left;
    color: var(--main-blue)
}

.homePageInner h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-style: italic;
    color: var(--main-blue)
}

.homePageInner h3 {
  width: 15rem;
  margin: 3rem 0 6rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: italic;
  border-top: solid 0.15rem black;
  border-bottom: solid 0.15rem black;
    color: var(--main-blue)
}

.homePageInner p {
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.5rem;

}
.homePageInner p:first-of-type:first-letter {
  padding: 0.25rem;
  margin: -1rem 0.25rem -0.25rem 0;
  font-family: "Fleur De Leah", cursive;
  font-size: 3rem;
}
.homePageInner p:first-of-type {
  font-size: 1.25rem;
  line-height: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

.homePageInner p:hover {
  color: var(--main-blue);
}



.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #d1deff;;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}


.btn__secondary {
  color: black;
}
.btn__secondary:hover {
  color: white;
    background-color: #4b6fdb;
}
.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem white;
}
.btn p {
  font-size: 1.6rem;
}