:root {
    --border-color: #ececeb;;
    --inactive-color: rgb(102, 102, 102);
    --body-font: "Poppins", sans-serif;
    --background-search-bg: rgb(238, 243, 248)
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;
}

body{
    background-color: #f3f2ef;
}
